

    <div class="team">
        <div class="team_name <%= @team.name.downcase.delete(' ')%>_colour"><%= @team.name %></div>
        <div class="car_img" style=background-image:url(/cars/<%= "#{@team.name.downcase.delete(' ')}_car.jpg" %>)>
    
    </div>
    
    <div class="team_name"><p> Drivers </p></div>

    <div class="team_drivers">
        <% @team.drivers.each do |driver| %>
            <a href="/drivers/<%= driver.id %>"> 
                <div class="team_name"><%= driver.pretty_name %></div>
            </a>
            <a href="/drivers/<%= driver.id %>"> 
                <div class="driver_img" style=background-image:url(/headshots/<%= "#{driver.first_name.downcase}_headshot.jpg" %>)>
                </div>
            </a>
        <%end%>
    </div>
    
