<form action="/results/<%= @race.id %>" method="post">
  
    <label> RESULT </label>


    <% @drivers.each do |driver| %>
      <%= driver.pretty_name %>
        <select name= <%= driver.id %> >
          <%for i in 1..@drivers.length%>
              <option value="<%= i %>"><%= i %></option>
          <% end %>
        </select>
    <% end %>

  <input type='submit' value="Confirm">
  
</form>